body {
    background-color: var(--surface-color);
    color: var(--text-color);
    font-family: 'Caveat', cursive;
}

h1 {
    text-align: center;
    align-self: center;
    font-size: 40px;
}

h1::selection {
    background-color: var(--text-color);
    color: var(--surface-color);
}

.button {
    cursor: pointer;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon {
    border-radius: 50%; 
}

.button-icon.lg {
    height: var(--size-lg);
    width: var(--size-lg);
}

.button-icon.xl {
    height: var(--size-xl);
    width: var(--size-xl);
}

.root {
    padding: 0 24px;
    display: grid;
    grid-template-rows: 80px 1fr 40px;
    height: 100%;
    grid-gap: 8px 0;
    overflow-y: hidden;
    max-width: 320px;
    margin: 0 auto;
}

.todo-box {
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 16px 16px 24px 16px;
    display: grid;
    grid-gap: 16px 0;
    align-self: start;
}

.material-symbols-outlined {
    font-size: 18px;
}