* {
    box-sizing: border-box;
}

*:focus {
    outline: 0px none transparent;
}

:root {
    --surface-color: #f8f3ef;
    --primary-color: #ced5df;
    --on-primary-color: #8495ae;
    --secondary-color: #dacfd5;
    --on-secondary-color: #a68c9a;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}