* {
    box-sizing: border-box;
}

*:focus {
    outline: 0px none transparent;
}

:root {
    --text-color: #351d19;
    --border-color: #9c8a80;
    --surface-color: #f8f3ef;
    --primary-color: #ced5df;
    --on-primary-color: #8495ae;
    --secondary-color: #e5d4ca;
    --on-secondary-color: #bc9076;
    --secondary-dark-color: #d5baa9;
    --tertiary-color: #f0dede;
    --on-tertiary-color: #d09898;
    --size-sm: 20px;
    --size-md: 24px;
    --size-lg: 40px;
    --size-xl: 48px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.button {
    border: 0;
    padding: 0;
    margin: 0;
}
