.todo-item {
    border-bottom: 1px solid var(--border-color);
    display: grid;
    grid-template-columns: 16px 1fr 32px;
    grid-gap: 0 8px;
    align-items: center;
    height: 48px;
}

.input-checkbox-box {
    display: flex;
    height: 16px;
    width: 16px;
    background-color: var(--surface-color);
    border-radius: 4px;
}

.todo-item-text::selection {
    background-color: var(--secondary-dark-color);
}

.input-checkbox-label {
    cursor: pointer;
}

.input-checkbox-label input[type="checkbox"] {
    margin: 0;
    display: none;
}

.todo-item.completed .todo-item-text {
    text-decoration: line-through;
}

.todo-item.completed .input-checkbox-box:after {
    content: "done";
    font-family: 'Material Symbols Outlined';
    width: inherit;
    height: inherit;
    display: flex;
}

.todo-item .button-icon:hover {
    background-color: var(--secondary-dark-color);
}